html {
    height: 100%;
}

body {
    min-height: 100%;
    overflow-y: auto;
    background-color: #fff;
    color: #333;
    font-family: 'Poppins', sans-serif;
}

body:not(.dashboard) {
    display: flex;
    flex-direction: column;
}

.body.dashboard {
    background-color: #f9f9f9;
}

img {
    max-width: 100%;
}

input:not([type]):focus:not([readonly])+label,
input[type=text]:not(.browser-default):focus:not([readonly])+label,
input[type=password]:not(.browser-default):focus:not([readonly])+label,
input[type=email]:not(.browser-default):focus:not([readonly])+label,
input[type=url]:not(.browser-default):focus:not([readonly])+label,
input[type=time]:not(.browser-default):focus:not([readonly])+label,
input[type=date]:not(.browser-default):focus:not([readonly])+label,
input[type=datetime]:not(.browser-default):focus:not([readonly])+label,
input[type=datetime-local]:not(.browser-default):focus:not([readonly])+label,
input[type=tel]:not(.browser-default):focus:not([readonly])+label,
input[type=number]:not(.browser-default):focus:not([readonly])+label,
input[type=search]:not(.browser-default):focus:not([readonly])+label,
textarea.materialize-textarea:focus:not([readonly])+label {
    color: @secondary;
}

input:not([type]):focus:not([readonly]),
input[type=text]:not(.browser-default):focus:not([readonly]),
input[type=password]:not(.browser-default):focus:not([readonly]),
input[type=email]:not(.browser-default):focus:not([readonly]),
input[type=url]:not(.browser-default):focus:not([readonly]),
input[type=time]:not(.browser-default):focus:not([readonly]),
input[type=date]:not(.browser-default):focus:not([readonly]),
input[type=datetime]:not(.browser-default):focus:not([readonly]),
input[type=datetime-local]:not(.browser-default):focus:not([readonly]),
input[type=tel]:not(.browser-default):focus:not([readonly]),
input[type=number]:not(.browser-default):focus:not([readonly]),
input[type=search]:not(.browser-default):focus:not([readonly]),
textarea.materialize-textarea:focus:not([readonly]) {
    border-bottom: 1px solid @secondary;
    .box-shadow(0 1px 0 0 @secondary);
}

.dropdown-content li>a,
.dropdown-content li>span {
    color: @secondary;
}

.btn-primary {
    color: #fff;
    background-color: @primary;
    border-color: @primary;

    &:hover,
    &:focus,
    &:active {
        color: #fff;
        background-color: darken(@primary, 3%) !important;
        border-color: darken(@primary, 3%) !important;
        box-shadow: initial !important;
    }
}

.btn-secondary {
    color: @secondary;
    background-color: #fff;
    border-color: @secondary;

    &:hover,
    &:focus,
    &:active {
        color: @secondary;
        background-color: #fff !important;
        border-color: @secondary  !important;
        box-shadow: initial !important;
    }
}

.login-wrapper {
    border: 1px solid #e6e6e6;
    box-shadow: rgba(0, 0, 0, 0.14902) 0px 1px 1px 0px, rgba(0, 0, 0, 0.09804) 0px 1px 2px 0px;
    padding: 1rem;
    max-width: 24rem;
    width: 100%;
    margin: 5rem 1.5rem 0;
    border-radius: 4px;
}

.button-wrapper {
    margin: -15px;

    [class*="col-"] {
        padding: 15px
    }
}

.redirect-btn {
    padding: 1rem;
    height: auto;
    width: 100%;

    &:hover,
    &:focus,
    &:active {
        color: #fff;
    }

    i {
        font-size: 3rem;
    }
}
.steps ul, .actions ul {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    li.disabled {
        opacity: 0.5;
        pointer-events: none;
        cursor: not-allowed;
    }
}
.steps ul {
    margin-bottom: 2rem;
}
.actions ul {
    margin: 0;
    margin-top: 2rem;
}
.form-register {
    .input-field {
        margin: 0;
    }
    .modal {
        bottom: auto;
    }
    .content .title {
        display: none;
    }
}
.form-register .steps li a {
    &:hover {
        text-decoration: none;
    }
    .title .step-icon {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        -o-border-radius: 50%;
        -ms-border-radius: 50%;
        -moz-border-radius: 50%;
        -webkit-border-radius: 50%;
        background: #ccc;
        position: relative;
        outline: none;
        -o-outline: none;
        -ms-outline: none;
        -moz-outline: none;
        -webkit-outline: none;
        color: #333;
        font-size: 16px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

.form-register .steps li.current a .step-icon,
.form-register .steps li.current a:active .step-icon,
.form-register .steps li.done a .step-icon,
.form-register .steps li.done a:active .step-icon {
    color: #fff;
    box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.25);
    -o-box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.25);
    -ms-box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.25);
    -webkit-box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.25);
}

.form-register .steps li.current a .step-icon,
.form-register .steps li.current a:active .step-icon {
    background: #68bbfd;
}
.form-register .steps li.done a .step-icon,
.form-register .steps li.done a:active .step-icon {
    background: #4fab40;
}
